<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1" style="color: white;">© 2023 Lucas Honda</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="https://github.com/HACK-SP-BR/HACK-SP-BR.github.io"
                >Source Code</a
            >
        </li>
        <li class="list-inline-item"><a href="/rsvp">RSVP!</a></li>
    </ul>
</footer>
