<!DOCTYPE html>
<html>
    <head>
        <meta
            http-equiv="refresh"
            content="1; url='https://forms.gle/uJppophBncQ1T3sZ6'"
        />
    </head>

    <body>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

            * {
                font-family: "Noto Sans";
                
            }
        </style>
        <p>You will be redirected to Google Forms soon!</p>
        <a href="https://forms.gle/uJppophBncQ1T3sZ6"
            >Not Redirected? Click Here</a
        >

        <hr />

        <p>Você vai ser redirecionado para o Google Formulários em breve!</p>
        <a href="https://forms.gle/uJppophBncQ1T3sZ6"
            >Não redirecionar? Clique aqui</a
        >
        <hr />
    </body>
</html>
