---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <main>
        <h1 style="font-family: Jetbrains Mono;">
            Redirecting... ( OR is it? )
        </h1>
    </main>
</Layout>
