---
import Layout from "../../layouts/Layout.astro";
const url = "https://forms.gle/uJppophBncQ1T3sZ6";
---

<Layout>
    <p>You will be redirected to Google Forms soon!</p>
    <a href={url}>Not Redirected? Click Here</a>

    <hr />

    <p>Você vai ser redirecionado para o Google Formulários em breve!</p>
    <a href={url}>Não redirecionar? Clique aqui</a>
    <hr />
</Layout>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

    * {
        font-family: "Noto Sans";
    }
</style>

<script defer>
window.location.href = "https://forms.gle/uJppophBncQ1T3sZ6";
</script>
